---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<head>
<meta name="viewport">
<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<div class="row">
  <div class="column left">
<img class="wp-image-1072 alignleft" src="https://danielegirardi.github.io/foto_cv.jpg" alt="" width="350" />
  </div>
  <div class="column right">
    
    <p>  I am an applied economist. My research covers a range of topics in political economy and macroeconomics. </p>
    
    <p> Most of my work can be traced back to two main research projects. The first is concerned with the interaction between politics and markets. The second explores the macroeconomic effects of aggregate demand dynamics, with special emphasis on medium- and long-run effects.

<p> I currently work as an Associate Professor of Economics at the University of Massachusetts Amherst (on leave) and as a Lecturer in Economics at the Department of Political Economy at King's College London. </p>  
    
    <p> I serve as an Associate Editor at the <em>Journal of Economic Surveys</em> and the <em>Review of Keynesian Economics</em>, and previously (2018-2023) at the <em>Review of Social Economy</em>. </p>
  
<p> [<a href="https://danielegirardi.github.io/CV%20Daniele%20Girardi.pdf" target="_blank" rel="noopener">CV</a>] [<a href="https://scholar.google.com/citations?user=XDTux6YAAAAJ&hl=en" target="_blank" rel="noopener">Google Scholar</a>] [<a href="https://twitter.com/DanieleGirardi_" target="_blank" rel="noopener">Twitter</a> </p>  

</div>
</div>  
</body>  
    
<h1><strong style="font-size: 1.5rem;">
Publications:</strong></h1>

<ul style="list-style-type: disc;">
 	<li>"Does studying economics make you selfish?" (with Sai Madhurika Mamunuru, Simon Halliday and Samuel Bowles) <br/>
    <em>Southern Economic Journal </em> (forthcoming) <br/>
      [<a style="color: #454545;"href="https://scholarworks.umass.edu/econ_workingpaper/304/" target="_blank" rel="noopener">Paper</a>] -  
    [<a style="color: #454545;"href="https://danielegirardi.github.io/posts/documents/DEMYS_slides.pdf" target="_blank" rel="noopener">Slides</a>]</li>
</ul>
  
  <ul style="list-style-type: disc;">
 	<li>"Partisanship and Local Fiscal Policy: Evidence from Brazilian Cities" (with Raphael Rocha Gouvea) <br/>
    <em>Journal of Development Economics</em>, vol.150, May 2021 <br/>
    [<a style="color: #454545;" href="https://doi.org/10.1016/j.jdeveco.2021.102637" target="_blank" rel="noopener">Paper</a> - <a style="color: #454545;"href="https://danielegirardi.github.io/posts/documents/PLFP_Oct2020.pdf" target="_blank" rel="noopener">Ungated</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/Slides_PLFP_Leeds.pdf" target="_blank" rel="noopener">Slides</a> - <a style="color: #454545;" href="https://doi.org/10.7910/DVN/11BW20" target="_blank" rel="noopener">Replication files</a>]</li>
</ul>
<ul style="list-style-type: disc;">
 	<li>"Partisan shocks and financial markets: evidence from close national elections" <br/>
    <em>American Economic Journal: Applied Economics</em>, Vol.12, N.4, Oct 2020 <br/>
    [<a style="color: #454545;" href="https://www.aeaweb.org/articles?id=10.1257/app.20190292&&from=f" target="_blank" rel="noopener">Paper</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/partisan_shocks_slides_arin_course.pdf" target="_blank" rel="noopener">Slides</a> - <a style="color: #454545;" href="https://doi.org/10.7910/DVN/FHCCWY" target="_blank" rel="noopener">Presidential elections dataset</a> - <a style="color: #454545;" href="https://doi.org/10.3886/E115008V1" target="_blank" rel="noopener">Replication files</a>  - <a style="color: #454545;" href="https://faculti.net/partisan-shocks-and-financial-markets-evidence-from-close-national-elections/" target="_blank" rel="noopener">Video Interview</a> ]</li>
</ul>
  <ul style="list-style-type: disc;">
 	<li>"Reverse hysteresis? Persistent effects of autonomous demand expansions" (with Walter Paternesi Meloni and Antonella Stirati)<br/> 
    <em>Cambridge Journal of Economics</em>, Vol. 44, Issue 4, pp. 835–869, 2020 <br/>
    [<a style="color: #454545;"href="https://academic.oup.com/cje/article/44/4/835/5826127?guestAccessKey=87f9804a-6bc9-41e1-9b55-27b5e819e937" target="_blank" rel="noopener"> Paper and supplementary materials </a>]</li>
</ul>
  <ul style="list-style-type: disc;">
 	<li>"Autonomous demand and the investment share" (with Riccardo Pariboni)<br/>
     <em>Review of Keynesian Economics</em>, Vol. 7, Issue 3, pp. 428–453, 2020 <br/>
     [<a style="color: #454545;" href="https://doi.org/10.4337/roke.2020.03.07" target="_blank" rel="noopener">Paper</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/Autonomous%20Demand%20and%20the%20Investment%20Share.pdf" target="_blank" rel="noopener">Ungated version</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/girardi_pariboni_rio_2019_workshop.pdf" target="_blank" rel="noopener">Slides</a>]</li>
</ul>
  <ul style="list-style-type: disc;">
 	<li>"Normal Utilization as the Adjusting Variable in Neo-Kaleckian Growth Models: A Critique" (with Riccardo Pariboni)<br/> 
<em>Metroeconomica</em>, vol.70, n.2, pp.341-358, 2019 
<br/>[<a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/Utilization%20Paper%20Revised%20Manuscript%20(Nov%202018).pdf" target="_blank" rel="noopener">Paper</a>]</li>
</ul>
<ul style="list-style-type: disc;">
 	<li>"Institution shocks and economic outcomes: Allende's election, Pinochet's coup and the Santiago stock market" (with Samuel Bowles) <br/>
  <em>Journal of Development Economics</em>, vol.134, pp. 16-27, 2018 <br/>
  [<a style="color: #454545;" href="http://tuvalu.santafe.edu/~bowles/2018%20(JDE)%20Chile.pdf" target="_blank" rel="noopener">Paper</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/Slides_Institution_Shocks.pdf" target="_blank" rel="noopener">Slides</a> - <a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/INSTITUTION_SHOCKS_REPLICATION_FILES_Apr_2018.zip" target="_blank" rel="noopener">Replication files</a> ]</li>
</ul>
 <ul style="list-style-type: disc;">
 	<li>"Long-run effective demand in the US economy" (with Riccardo Pariboni) <br/> 
    <em>Review of Political Economy</em>,  Vol.28, n.4, pp.523-544, 2016 <br/>
    [<a style="color: #454545;" href="http://dx.doi.org/10.1080/09538259.2016.1209893" target="_blank" rel="noopener">Paper</a>]</li>
</ul>
<ul style="list-style-type: disc;">
 	<li>"Financialization of Food. Modelling the time-varying relation between agricultural prices and stock-market dynamics"<br/>
    <em>International Review of Applied Economics</em>, vol.29, n.4, pp.482-505, 2015 <br/>
[<a style="color: #454545;" href="https://danielegirardi.github.io/posts/documents/Financialization of Food.pdf" target="_blank" rel="noopener">Paper</a>]</li>
</ul>
<ul style="list-style-type: disc;">
 	<li>"Do financial investors affect the price of wheat?"<br/> 
    <em>PSL Quarterly Review</em>, Vol. 65 No. 260, pp.79-109, 2012 <br/>
    [<a style="color: #454545;" href="https://ojs.uniroma1.it/index.php/PSLQuarterlyReview/article/view/9936" target="_blank" rel="noopener">Paper</a>]</li>
</ul>

<h1><strong style="font-size: 1.5rem;">
Work in progress:</strong></h1>
  
<ul style="list-style-type: disc;">
 	<li>"A Local Projections Approach to Difference-in-Differences Event Studies" (with Arin Dube, Oscar Jorda and Alan M. Taylor) <br/>
  [<a style="color: #454545;"href="https://danielegirardi.github.io/posts/documents/LPDiD_Slides_ASSA2023.pdf" target="_blank" rel="noopener">Slides</a>] -
   [<a style="color: #454545;"href="https://www.nber.org/papers/w31184" target="_blank" rel="noopener">Paper</a>] - 
   [<a style="color: #454545;"href="https://github.com/danielegirardi/lpdid/" target="_blank" rel="noopener">STATA example codes</a>] - 
  [<a style="color: #454545;"href="https://www.youtube.com/watch?v=lHt39AZ-a38" target="_blank" rel="noopener">Video of presentation at CBRC</a>]    
  </li>   
</ul>  

    <ul style="list-style-type: disc;">
 	<li>" 'lpdid' : A STATA package to implement the Local Projections Diff-in-Diff estimator of DGJT " (with Alexander Busch, in collaboration with Arin Dube, Oscar Jorda and Alan Taylor) [COMING SOON!] <br/></li>   
</ul> 
  
  <ul style="list-style-type: disc;">
 	<li>"Expectations, authority and divergent market transitions" (with Susanne Wengle and Roberto Veneziani) <br/></li>   
</ul>  
    <ul style="list-style-type: disc;">
 	<li>"Measuring exploitation: labor-income ratios in the US, 1975-2019" (with Nicolas Grau Veloso, Roberto Veneziani and Naoki Yoshihara) <br/></li>   
</ul>  
<ul style="list-style-type: disc;">
 	<li>"The neoclassical theory of aggregate investment and its criticisms"<br/>
   [<a style="color: #454545;"href="https://danielegirardi.github.io/posts/documents/Investment_Theory_Survey.pdf" target="_blank" rel="noopener">Paper</a>]
</ul>

    



